html {
    position: relative;
    background: #946A4C;;
    }
h1 {
    text-align: center;
    position: relative;

    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    
    color: #FFFFFF;
}
h2{
    text-align: center;
    position: relative;

    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    
    color: #FFFFFF; 
}
a{
    text-align: center;
    position: absolute;
    width: 440px;
    height: 99px;
    left: 644px;
    top: 797px;

    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-decoration: none;

    color: #FFFFFF;
}
div{
    text-align: center;
    position: absolute;
    left: 644px;
    top: 797px;
    
    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div1{
    position: absolute;
    left: 110px;
    top: 371px;
    
    background: #603813;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div2{
    position: absolute;
    left: 644px;
    top: 371px;

    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div3{
    position: absolute;
    left: 1178px;
    top: 371px;

    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div4{
    position: absolute;
    left: 110px;
    top: 667px;

    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div5{
    position: absolute;
    left: 644px;
    top: 667px;

    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
div6{
    position: absolute;
    left: 1178px;
    top: 667px;

    background: #BDA48B;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
a1{ 
    position: absolute;
    width: 274px;
    height: 51px;
    left: 752px;
    top: 467px;
    
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-decoration: none;
    
    color: #FFFFFF;
    
}
h3{
    position: absolute;
    width: 304px;
    height: 51px;
    left: 178px;
    top: 467px;
    
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    
    color: #FFFFFF;
}